.card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 0.1rem;
  max-width: 55rem;
  width: 100%;
  position: relative;
}

.media {
  width: auto;
  height: auto;
  max-width: 30%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex-grow: 1;
  margin: 0;
}

.price {
  flex-basis: 20%;
  text-align: right;
  align-self: flex-end;
  margin: 0;
}

.priceWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
} 

.review {
  position: absolute;
  top: .25rem;
  right: .75rem;
  font-size: .9rem;
  opacity: 75%;
}

.col3 {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.ratingText {
  margin-left: 5px;
}

.cancellation {
  color: green;
  margin: 0 ;
}

.popular {
  color: #E21B1B;
}

.highlightIcons {
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.highlightIcon {
  margin-right: 5px;
  color: black;
}

.lightGreenText {
  color: green;
}

.iconContainer {
  position: sticky;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
}

.divider {
  border-right: 1px solid gray;
  height: 100%;
  width: 1px;
  margin-top: 1rem;
  margin-bottom: 0;
}

.tax {
  font-size: .9rem;
  opacity: 75%;
}

.chips {
  margin-bottom: .5rem;
}

.button {
  margin-bottom: -1rem;
}
