.filter_grid {
  background-color: white;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.filter_border {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.filter_border_left {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.filter_border_right {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}